@use "../global" as g;

/*!
component > button
------------------------------
*/
.c-button {
    border-radius: 100vh;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px;
    display: inline-block;

    &--accent {
        background-color: var(--color-bg-accent);
        color: var(--color-font-black);
        border: 2px solid var(--color-border-black);
    }

    &--white {
        background-color: var(--color-bg-white);
        border: 2px solid var(--color-border-primary);
        color: var(--color-font-primary);
    }

    &--black {
        color: var(--color-font-white);
        background-color: var(--color-bg-black);
    }

    &--center {
        margin: 0 auto;
    }
}
