/*!
global > color
------------------------------
*/
:root {
    --color-bg-base: #fafafa;
    --color-bg-primary: #c7a26c;
    --color-bg-primary-light: rgba(199, 162, 108, 0.35);
    --color-bg-primary-extra-light: rgba(199, 162, 108, 0.05);
    --color-bg-secondary: #52442f;
    --color-bg-black: #333333;
    --color-bg-white: #ffffff;
    --color-bg-accent: #ff9800;
    --color-border-gray: #dddddd;
    --color-border-primary: #c7a26c;
    --color-border-black: #333333;
    --color-font-primary: #c7a26c;
    --color-font-black: #333333;
    --color-font-white: #ffffff;
    --color-font-link: #4895e6;
    --color-font-base: #8d857e;
}
