/*!
global > color
------------------------------
*/
:root {
    --color-bg-base: #0f0f0f;
    --color-bg-base-light: #1a1a1a;
    --color-bg-black: #000000;
    --color-bg-white: #ffffff;
    --color-border-white: #ffffff;
    --color-font-attention: #d94747;
    --color-font-base: #d0d0d0;
    --color-font-black: #000000;
}
